---
import '../styles/global.css';
import Wave from '../components/Wave.astro';
import Hero from '../components/Hero.astro';
import Steps from '../components/Steps.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from "../components/Footer.astro";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
---

<html lang="de">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Kiko Rezepte | Die intuitive Koch-App für Kinder</title>
	<meta name="description" content="Kochen ohne Waage und Zahlen. Unsere App ermöglicht es Kindern, durch Farben und Symbole selbstständig und sicher zu kochen." />
</head>

<body class="selection:bg-cup-yellow">
<main>
	<Hero />

	<Wave topColor="#ffd93d33" fillColor="#FFFFFF" flip={true} variant={1} />

	<Steps />

	<Wave topColor="#4d96ff1a" fillColor="#FFFFFF" variant={2} />

	<Testimonials />

	<Wave topColor="#4d96ff1a" fillColor="#ffffff" flip={true} variant={3} />

	<FAQ />

	<Wave topColor="#FFF9F0" fillColor="#ffffff" flip={false} variant={2} />

	<Newsletter />
</main>

<Footer />
</body>
</html>